* {
  margin: 0;
  padding: 0;
}

#main {
  background-color: rgba(172, 169, 169, 0.671);
}

.w-main {
  width: auto;
}

.paragraph-align {
  text-align: start;
}

.title-main {
  font-size: 1em;
}

.figcaption-font {
  font-size: 1em;
}

.bottom-font {
  font-size: 1em;
  text-align: center;
}

.padding-image {
  padding: 20px;
}
